bs4
dateparser
python-dotenv
fastapi
uvicorn
tzdata
lxml
app_port 8080 Commit
curl_cffi
fake-headers
pydantic_settings
httpx
Crypto
pycryptodome
tenacity
xmltodict
starlette
cachetools
tqdm
aiofiles
psutil
